.clearfix {
  overflow: auto;
}

.header{
    margin-top: 20pt;
    display: block;
    height: 100px;
    
    margin-bottom: 20pt;
    position: absolute;
}
.logo{
    height: 100px;
    width: 100px;
    display: block;
    margin: 5px auto;
    position: absolute;
}
.logo_img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;

}
.title_text{
    margin-left: 120px;
    position: absolute;
}
.fl{
    float: left;
}
.fn{
    float: none;
}

.container {
    position: relative;
    margin-top: 120px;
  }
  nav {
    position: absolute;
    left: 0px;
    width: 200px;
  }
  section {
    /* position is static by default */
    margin-left: 200px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    background-color: black;
    color:white;
    width: 100%;
  }
  body {
    margin-bottom: 120px;
  }